# DAY 25 - Naive Bayes Classification

In [138]:
import pandas as pd

In [139]:
dataset = pd.read_csv('train.csv')

In [140]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [141]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import *

In [142]:
le = preprocessing.LabelEncoder()

In [143]:
dataset['Sex'] = le.fit_transform(dataset['Sex'])
dataset['Embarked'] = le.fit_transform(dataset['Embarked'])

In [144]:
dataset1 = dataset.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [145]:
dataset1

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
884         0       2    1  27.0      0      0  13.0000         2
885         1       1    0  19.0      0      0  30.0000         2
886         0       3    0  45.0      1      2  23.4500         2
887         1       1    1  26.0      0      0  30.0000         0
888         0       3    1  32.0      0      0   7.7500         1

[889 rows x 8 columns]

In [146]:
def naive_bayes(dependent_variable):
    X = dataset1.drop([dependent_variable],axis=1)
    y = dataset1[dependent_variable]
    x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)
    clf = BernoulliNB()
    y_pred = clf.fit(x_train,y_train).predict(x_test)
    acc = accuracy_score(y_test,y_pred,normalize=True)
    conf_matrix = confusion_matrix(y_test,y_pred)
    print("Accuracy score:",acc)
    print("\n\nConfusion Matrix for",dependent_variable," :\n\n",conf_matrix)

In [147]:
naive_bayes('Survived')

Accuracy score: 0.7715355805243446


Confusion Matrix for Survived  :

 [[131  26]
 [ 35  75]]

By reading the confusion matrix of Survived:
    - out of 267 records
    - 131 records are  correctly classified! and accuracy score is 77%

In [148]:
naive_bayes('Sex')

Accuracy score: 0.7453183520599251


Confusion Matrix for Sex  :

 [[ 49  49]
 [ 19 150]]

By reading the confusion matrix of Sex:
    - out of 267 records
    - 199 records are  correctly classified! and accuracy score is 74.5%

In [149]:
naive_bayes('Pclass')

Accuracy score: 0.5917602996254682


Confusion Matrix for Pclass  :

 [[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]

By reading the confusion matrix of Passenger Class:
    - out of 267 records
    - 158 records are  correctly classified! and accuracy score is 59%

In [150]:
naive_bayes('SibSp')

Accuracy score: 0.6891385767790262


Confusion Matrix for SibSp  :

 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]

By reading the confusion matrix of Siblings and parents:
    - out of 267 records
    - 158 records are  correctly classified! and accuracy score is 59%

In [151]:
naive_bayes('Parch')

Accuracy score: 0.7153558052434457


Confusion Matrix for Parch  :

 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]

By reading the confusion matrix of Parents and child:
    - out of 267 records
    - 191 records are  correctly classified! and accuracy score is 71.5%

In [152]:
naive_bayes('Embarked')

Accuracy score: 0.7340823970037453


Confusion Matrix for Embarked  :

 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]

By reading the confusion matrix of Embarked:
    - out of 267 records
    - 196 records are  correctly classified! and accuracy score is 73.4%