In [1]:
import pandas as pd
import numpy as np

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# How many movies are listed in the titles dataframe?

In [3]:
print(titles['title'].unique().size,"movies are listed in the titles dataframe.")

223828 movies are listed in the titles dataframe.


# What are the earliest two films listed in the titles dataframe?

In [4]:
s_movis = titles.sort_values("year")
s_movis = s_movis.head(2)
for ind in s_movis.index:
    print(s_movis['title'][ind],"at",s_movis['year'][ind])

Miss Jerry at 1894
The Startled Lover at 1898

# How many movies have the title "Hamlet"?

In [5]:
hamlet = titles[titles['title'] == "Hamlet"]
print(hamlet['year'].unique().size," movies are there in titles.")

20  movies are there in titles.


# How many movies are titled "North by Northwest"?

In [6]:
nbn = titles[titles['title'] == "North by Northwest"]
print(nbn['title'].size," movies are there in titles.")

1  movies are there in titles.

# When was the first movie titled "Hamlet" made?

In [7]:
hamlet = titles[titles['title'] == "Hamlet"].sort_values("year")
#print(hamlet.head(5))
year = hamlet['year'].head()
#print(year.shape)
#print(year)
y = pd.Series(year[52521])
#print(y.at[0])
print("the first movie titled Hamlet made at : ",y.at[0])

the first movie titled Hamlet made at :  1910


# List all of the "Treasure Island" movies from earliest to most recent.

In [8]:
tid = titles[titles['title'] == "Treasure Island"].sort_values("year")
tid

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# How many movies were made in the year 1950?

In [9]:
movies1950 = titles[titles["year"] == 1950]
totm_1950 = movies1950["title"].unique().size
print(totm_1950,"movies were made in the year 1950.")

1113 movies were made in the year 1950.

# How many movies were made in the year 1960?

In [10]:
movies1960 = titles[titles["year"] == 1960]
totm_1960 = movies1960["title"].unique().size
print(totm_1960,"movies were made in the year 1960.")

1549 movies were made in the year 1960.

# How many movies were made from 1950 through 1959?

In [11]:
movies1950_1959 = titles[(titles['year'] <= 1959)&(titles['year'] >= 1950)]
totmovies = movies1950_1959['title'].size
print(totmovies,"movies were made from 1950 through 1959!")

12934 movies were made from 1950 through 1959!

# In what years has a movie titled "Batman" been released?

In [12]:
batman = titles[titles['title'] == "Batman"]
for ind in batman.index:
    print(batman['year'][ind],end=" ")
    
print("has a movie titled Batman been released")

1943 1989 has a movie titled Batman been released

# How many roles were there in the movie "Inception"?

In [13]:
cast = pd.read_csv('cast.csv')
cast.head(2)

             title  year      name   type character     n
0   Closet Monster  2015  Buffy #1  actor   Buffy 4  31.0
1  Suuri illusioni  1985    Homo $  actor    Guests  22.0

In [14]:
inception_roles = cast[cast['title'] =='Inception']
print(inception_roles['character'].unique().size,"roles were there in the movie \"Inception\"")

56 roles were there in the movie "Inception"

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [15]:
inception_roles = cast[cast['title'] =='Inception']
print(inception_roles['n'].isna().sum(),"roles in the movie \"Inception\" are NOT ranked by an \"n\" value")

27 roles in the movie "Inception" are NOT ranked by an "n" value

# But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
inception_roles = cast[cast['title'] =='Inception']
n_val_count = inception_roles['n'].size-inception_roles['n'].isna().sum()
print(n_val_count,"roles in the movie \"Inception\" did receive an \"n\" value")

51 roles in the movie "Inception" did receive an "n" value

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
NorthbyNorthwest = cast[cast['title'] =='North by Northwest']
NorthbyNorthwest1 = NorthbyNorthwest.dropna()
NorthbyNorthwest1

,title,year,name,type,character,n
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0

# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
sleuth = cast[(cast['title'] == "Sleuth")&(cast['year'] == 1972)].sort_values('n')
sleuth

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [19]:
sleuth = cast[(cast['title'] == "Sleuth")&(cast['year'] == 2007)].sort_values('n')
sleuth

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

# How many roles were credited in the silent 1921 version of Hamlet?¶

In [20]:
silent = cast[(cast['title'] == "Hamlet")&(cast['year'] == 1921)].sort_values('n')
print(silent['character'].size,"roles were credited in the silent 1921 version of Hamlet")

9 roles were credited in the silent 1921 version of Hamlet

# How many roles were credited in Branagh’s 1996 Hamlet?

In [21]:
branagh = cast[(cast['title'] == "Hamlet")&(cast['year'] == 1996)].sort_values('n')
print(branagh['character'].size,"roles were credited in Branagh’s 1996 Hamlet")

54 roles were credited in Branagh’s 1996 Hamlet

# How many "Hamlet" roles have been listed in all film credits through history?

In [22]:
ham = cast[(cast['character'] == "Hamlet")].size
print(ham,"\"Hamlet\" roles have been listed in all film credits through history")

576 "Hamlet" roles have been listed in all film credits through history

# How many people have played an "Ophelia"?

In [23]:
ophe = cast[cast['title'] == "Ophelia"]
print(ophe['name'].unique().size," people have played an \"Ophelia\"")

19  people have played an "Ophelia"

# How many people have played a role called "The Dude"?

In [24]:
dude = cast[cast['title'] == "The Dude"]
#print(dude)
print("There is no movie title called \"The Dude\"")

There is no movie title called "The Dude"

# How many people have played a role called "The Stranger"?

In [25]:
stranger = cast[cast['character'] == "The Stranger"]
#print(stranger)
print(stranger['name'].unique().size," people have played a role called \"The Stranger\"")

202  people have played a role called "The Stranger"

# How many roles has Sidney Poitier played throughout his career?

In [26]:
sidney = cast[cast['name'] == "Sidney Poitier"]
print(sidney['character'].unique().size,"roles has Sidney Poitier played throughout his career.")

41 roles has Sidney Poitier played throughout his career.

# How many roles has Judi Dench played?

In [27]:
judi = cast[cast['name'] == "Judi Dench"]
print(judi['character'].unique().size,"roles has Judi Dench played.")

46 roles has Judi Dench played.

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
cary = cast[(cast['name'] == "Cary Grant")&(cast['year'] >= 1940)&(cast['year'] <= 1949)&(cast['n'] == 2)].sort_values('year')
cary

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# List the leading roles that Cary Grant played in the 1940s in order by year.

In [29]:
cary = cast[(cast['name'] == "Cary Grant")&(cast['year'] >= 1940)&(cast['year'] <= 1949)].sort_values('year')
cary

,title,year,name,type,character,n
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

# How many roles were available for actors in the 1950s?

In [30]:
actors = cast[(cast['type'] == 'actor')&(cast['year'] >= 1950)&(cast['year'] <= 1959)]
print(actors['name'].unique().size,"roles were available for actors in the 1950s")

33291 roles were available for actors in the 1950s

# How many roles were available for actresses in the 1950s?

In [31]:
actress = cast[(cast['type'] == 'actress')&(cast['year'] >= 1950)&(cast['year'] <= 1959)]
print(actress['name'].unique().size,"roles were available for actresses in the 1950s")

18181 roles were available for actresses in the 1950s

# How many leading roles (n=1) were available from the beginning of film history through 1980?

In [32]:
leadrole = cast[(cast['year'] >= 1980)&(cast['n'] == 1)]
print(leadrole['character'].unique().size,"leading roles (n=1) were available from the beginning of film history through 1980")

57697 leading roles (n=1) were available from the beginning of film history through 1980

# How many non-leading roles were available through from the beginning of film history through 1980?

In [33]:
nonleadrole = cast[(cast['year'] >= 1980)&(cast['n'] > 1)]
print(nonleadrole['character'].unique().size,"non-leading roles were available through from the beginning of film history through 1980")

689115 non-leading roles were available through from the beginning of film history through 1980

In [34]:
#How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?
minor = cast[(cast['year'] >= 1980)&(cast['n'].isnull())]
print(minor['character'].unique().size,"roles through 1980 were minor enough that they did not warrant a numeric \"n\" rank")

439769 roles through 1980 were minor enough that they did not warrant a numeric "n" rank