Assignment day12 Testing P value and Hypothesis

Day 12:
Question:
Based on the lecture and the tests you learnt, perform the appropriate test according to you
on the dataset of Company XYZ and give a short inference based on the p value and
hypothesis.
Dataset: Same as given on day 7 of Company XYZ of attrition

In [35]:
import pandas as pd

In [36]:
from scipy.stats import mannwhitneyu

In [37]:
employees_dataset = pd.read_excel("general_data.xlsx", sheet_name=0)

In [38]:
employees_dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [39]:
employees_attrition_yes = employees_dataset[employees_dataset["Attrition"] == 'Yes']

In [40]:
employees_attrition_yes

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381,29,Yes,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4386,33,Yes,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4388,33,Yes,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4391,32,Yes,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4402,37,Yes,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0

In [41]:
employees_attrition_no = employees_dataset[employees_dataset["Attrition"] == 'No']

In [42]:
employees_attrition_no

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

# Performing mannwhitneyu Test
#### Mann Whitney U Test:  Attrition Vs Distance From Home

In [43]:
stats,p = mannwhitneyu(employees_attrition_yes['DistanceFromHome'],employees_attrition_no['DistanceFromHome'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between Distance From Home of current employees and ex-employees")
print("Ha: There is significant differences between Distance From Home of current employees and ex-employees")
if(p<0.05):
    print("\np<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between DistanceFromHome of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between DistanceFromHome of current employees and ex-employees.")

r = 1312110.0 p = 0.4629185205822659

H0: There is no significant differences between Distance From Home of current employees and ex-employees
Ha: There is significant differences between Distance From Home of current employees and ex-employees

p>0.05

Result: H0 is Accepted, There is no significant difference between DistanceFromHome of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Monthly Income

In [44]:
stats,p = mannwhitneyu(employees_attrition_yes['MonthlyIncome'],employees_attrition_no['MonthlyIncome'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between Monthly Income of current employees and ex-employees")
print("Ha: There is significant differences between Monthly Income of current employees and ex-employees")
if(p<0.05):
    print("\np<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between MonthlyIncome of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between MonthlyIncome of current employees and ex-employees.")

r = 1264900.5 p = 0.053577283839938566

H0: There is no significant differences between Monthly Income of current employees and ex-employees
Ha: There is significant differences between Monthly Income of current employees and ex-employees

p>0.05

Result: H0 is Accepted,There is no significant difference between MonthlyIncome of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Total Working Years

In [45]:
stats,p = mannwhitneyu(employees_attrition_yes['TotalWorkingYears'],employees_attrition_no['TotalWorkingYears'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between Total Working Years of current employees and ex-employees")
print("Ha: There is significant differences between Total Working Years of current employees and ex-employees")
if(p<0.05):
    print("\np<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between TotalWorkingYears of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between TotalWorkingYears of current employees and ex-employees.")

r = 909954.0 p = 2.8897554531400447e-39

H0: There is no significant differences between Total Working Years of current employees and ex-employees
Ha: There is significant differences between Total Working Years of current employees and ex-employees

p<0.05

H0 is rejected and Ha is accepted.
There is significant difference between TotalWorkingYears of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Years At Company

In [46]:
stats,p = mannwhitneyu(employees_attrition_yes['YearsAtCompany'],employees_attrition_no['YearsAtCompany'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between YearsAtCompany of current employees and ex-employees")
print("Ha: There is significant differences between YearsAtCompany of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between YearsAtCompany of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between YearsAtCompany of current employees and ex-employees.")

r = 923238.0 p = 6.047598261692858e-37

H0: There is no significant differences between YearsAtCompany of current employees and ex-employees
Ha: There is significant differences between YearsAtCompany of current employees and ex-employees
p<0.05

H0 is rejected and h1 is accepted.
There is significant difference between YearsAtCompany of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Years With Current Manager

In [47]:
stats,p = mannwhitneyu(employees_attrition_yes['YearsWithCurrManager'],employees_attrition_no['YearsWithCurrManager'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between YearsWithCurrManager of current employees and ex-employees")
print("Ha: There is significant differences between YearsWithCurrManager of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between YearsWithCurrManager of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between YearsWithCurrManager of current employees and ex-employees.")

r = 957253.5 p = 1.2365483142169853e-31

H0: There is no significant differences between YearsWithCurrManager of current employees and ex-employees
Ha: There is significant differences between YearsWithCurrManager of current employees and ex-employees
p<0.05

H0 is rejected and h1 is accepted.
There is significant difference between YearsWithCurrManager of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Business Travel

In [48]:
stats,p = mannwhitneyu(employees_attrition_yes['BusinessTravel'],employees_attrition_no['BusinessTravel'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between BusinessTravel of current employees and ex-employees")
print("Ha: There is significant differences between BusinessTravel of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between BusinessTravel of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between BusinessTravel of current employees and ex-employees.")

r = 1266192.0 p = 0.024442388462694316

H0: There is no significant differences between BusinessTravel of current employees and ex-employees
Ha: There is significant differences between BusinessTravel of current employees and ex-employees
p<0.05

H0 is rejected and h1 is accepted.
There is significant difference between BusinessTravel of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Years Since Last Promotion

In [49]:
stats,p = mannwhitneyu(employees_attrition_yes['YearsSinceLastPromotion'],employees_attrition_no['YearsSinceLastPromotion'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between YearsSinceLastPromotion of current employees and ex-employees")
print("Ha: There is significant differences between YearsSinceLastPromotion of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between YearsSinceLastPromotion of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between YearsSinceLastPromotion of current employees and ex-employees.")

r = 1209366.0 p = 0.0002021180346719736

H0: There is no significant differences between YearsSinceLastPromotion of current employees and ex-employees
Ha: There is significant differences between YearsSinceLastPromotion of current employees and ex-employees
p<0.05

H0 is rejected and h1 is accepted.
There is significant difference between YearsSinceLastPromotion of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Percent Salary Hike

In [50]:
stats,p = mannwhitneyu(employees_attrition_yes['PercentSalaryHike'],employees_attrition_no['PercentSalaryHike'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between PercentSalaryHike of current employees and ex-employees")
print("Ha: There is significant differences between PercentSalaryHike of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between PercentSalaryHike of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between PercentSalaryHike of current employees and ex-employees.")

r = 1250640.0 p = 0.018660129917539733

H0: There is no significant differences between PercentSalaryHike of current employees and ex-employees
Ha: There is significant differences between PercentSalaryHike of current employees and ex-employees
p<0.05

H0 is rejected and h1 is accepted.
There is significant difference between PercentSalaryHike of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Stock Option Level

In [51]:
stats,p = mannwhitneyu(employees_attrition_yes['StockOptionLevel'],employees_attrition_no['StockOptionLevel'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between StockOptionLevel of current employees and ex-employees")
print("Ha: There is significant differences between StockOptionLevel of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between StockOptionLevel of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between StockOptionLevel of current employees and ex-employees.")

r = 1296846.0 p = 0.2636805975678432

H0: There is no significant differences between StockOptionLevel of current employees and ex-employees
Ha: There is significant differences between StockOptionLevel of current employees and ex-employees

p>0.05

Result: H0 is Accepted, There is no significant difference between StockOptionLevel of current employees and ex-employees.

#### Mann Whitney U Test: Attrition Vs Training Times LastYear

In [52]:
stats,p = mannwhitneyu(employees_attrition_yes['TrainingTimesLastYear'],employees_attrition_no['TrainingTimesLastYear'])
print("r =",stats,"p =",p)

print("\nH0: There is no significant differences between TrainingTimesLastYear of current employees and ex-employees")
print("Ha: There is significant differences between TrainingTimesLastYear of current employees and ex-employees")
if(p<0.05):
    print("p<0.05")
    print("\nH0 is rejected and h1 is accepted. \nThere is significant difference between TrainingTimesLastYear of current employees and ex-employees.")
else:
    print("\np>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between TrainingTimesLastYear of current employees and ex-employees.")

r = 1238940.0 p = 0.005167954938699059

H0: There is no significant differences between TrainingTimesLastYear of current employees and ex-employees
Ha: There is significant differences between TrainingTimesLastYear of current employees and ex-employees
p<0.05

H0 is rejected and h1 is accepted.
There is significant difference between TrainingTimesLastYear of current employees and ex-employees.

#### T-Test : Attrition Vs DistanceFromHome

In [53]:
from scipy.stats import ttest_ind

In [54]:
stat,p=ttest_ind(employees_attrition_yes['DistanceFromHome'],employees_attrition_no['DistanceFromHome'])

print(stats,"p =",p)
print("\nH0: There is no significant differences between Distance From Home of current employees and ex-employees")
print("Ha: There is significant differences between Distance From Home of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between DistanceFromHome of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted, There is no significant difference between DistanceFromHome of current employees and ex-employees.")

1238940.0 p = 0.518286042805572

H0: There is no significant differences between Distance From Home of current employees and ex-employees
Ha: There is significant differences between Distance From Home of current employees and ex-employees

Here, p>0.05

Result: H0 is Accepted, There is no significant difference between DistanceFromHome of current employees and ex-employees.

#### T-Test : Attrition Vs MonthlyIncome

In [55]:
stat,p=ttest_ind(employees_attrition_yes['MonthlyIncome'],employees_attrition_no['MonthlyIncome'])
print(stats,"p =",p)

print("\nH0: There is no significant differences between Monthly Income of current employees and ex-employees")
print("Ha: There is significant differences between Monthly Income of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between MonthlyIncome of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between MonthlyIncome of current employees and ex-employees.")

1238940.0 p = 0.03842748490605113

H0: There is no significant differences between Monthly Income of current employees and ex-employees
Ha: There is significant differences between Monthly Income of current employees and ex-employees

Here, p<0.05

H0 is rejected and Ha is accepted.
There is significant difference between MonthlyIncome of current employees and ex-employees.

#### T-Test : Attrition Vs MonthlyIncome

In [56]:
stat,p=ttest_ind(employees_attrition_yes['PercentSalaryHike'],employees_attrition_no['PercentSalaryHike'])
print(stats,"p =",p)

print("\nH0: There is no significant differences between PercentSalaryHike of current employees and ex-employees")
print("Ha: There is significant differences between PercentSalaryHike of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between PercentSalaryHike of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between PercentSalaryHike of current employees and ex-employees.")

1238940.0 p = 0.03074338643339195

H0: There is no significant differences between PercentSalaryHike of current employees and ex-employees
Ha: There is significant differences between PercentSalaryHike of current employees and ex-employees

Here, p<0.05

H0 is rejected and Ha is accepted.
There is significant difference between PercentSalaryHike of current employees and ex-employees.

#### T-Test : Attrition Vs StockOptionLevel

In [57]:
stat,p=ttest_ind(employees_attrition_yes['StockOptionLevel'],employees_attrition_no['StockOptionLevel'])
print(stats,"p =",p)

print("\nH0: There is no significant differences between StockOptionLevel of current employees and ex-employees")
print("Ha: There is significant differences between StockOptionLevel of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between StockOptionLevel of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between StockOptionLevel of current employees and ex-employees.")

1238940.0 p = 0.6498072937482536

H0: There is no significant differences between StockOptionLevel of current employees and ex-employees
Ha: There is significant differences between StockOptionLevel of current employees and ex-employees

Here, p>0.05

Result: H0 is Accepted,There is no significant difference between StockOptionLevel of current employees and ex-employees.

#### T-Test : Attrition Vs TrainingTimesLastYear

In [58]:
stat,p=ttest_ind(employees_attrition_yes['TrainingTimesLastYear'],employees_attrition_no['TrainingTimesLastYear'])
print(stats,"p =",p)

print("\nH0: There is no significant differences between TrainingTimesLastYear of current employees and ex-employees")
print("Ha: There is significant differences between TrainingTimesLastYear of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between TrainingTimesLastYear of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between TrainingTimesLastYear of current employees and ex-employees.")

1238940.0 p = 0.0010247061915374478

H0: There is no significant differences between TrainingTimesLastYear of current employees and ex-employees
Ha: There is significant differences between TrainingTimesLastYear of current employees and ex-employees

Here, p<0.05

H0 is rejected and Ha is accepted.
There is significant difference between TrainingTimesLastYear of current employees and ex-employees.

#### T-Test : Attrition Vs YearsSinceLastPromotion

In [59]:
stat,p=ttest_ind(employees_attrition_yes['YearsSinceLastPromotion'],employees_attrition_no['YearsSinceLastPromotion'])
print(stats,"p =",p)

print("\nH0: There is no significant differences between YearsSinceLastPromotion of current employees and ex-employees")
print("Ha: There is significant differences between YearsSinceLastPromotion of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between YearsSinceLastPromotion of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between YearsSinceLastPromotion of current employees and ex-employees.")

1238940.0 p = 0.028330336189428353

H0: There is no significant differences between YearsSinceLastPromotion of current employees and ex-employees
Ha: There is significant differences between YearsSinceLastPromotion of current employees and ex-employees

Here, p<0.05

H0 is rejected and Ha is accepted.
There is significant difference between YearsSinceLastPromotion of current employees and ex-employees.

#### T-Test : Attrition Vs YearsWithCurrManager

In [60]:
stat,p=ttest_ind(employees_attrition_yes['YearsWithCurrManager'],employees_attrition_no['YearsWithCurrManager'])
print(stats,"p =",p)

print("\nH0: There is no significant differences between YearsWithCurrManager of current employees and ex-employees")
print("Ha: There is significant differences between YearsWithCurrManager of current employees and ex-employees")
if(p<0.05):
    print("\nHere, p<0.05")
    print("\nH0 is rejected and Ha is accepted. \nThere is significant difference between YearsWithCurrManager of current employees and ex-employees.")
else:
    print("\nHere, p>0.05")
    print("\nResult: H0 is Accepted,There is no significant difference between YearsWithCurrManager of current employees and ex-employees.")

1238940.0 p = 1.7339322652918153e-25

H0: There is no significant differences between YearsWithCurrManager of current employees and ex-employees
Ha: There is significant differences between YearsWithCurrManager of current employees and ex-employees

Here, p<0.05

H0 is rejected and Ha is accepted.
There is significant difference between YearsWithCurrManager of current employees and ex-employees.